{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="container">
  <video width="100%" controls>
  <source src="https://digital-flash.es/FOTOVIDEOS/Voltereta.mp4" type="video/mp4">
</video>
</div>
{% endblock %}
