{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="container">
<video autoplay muted playsinline>
    <source src="https://www.digital-flash.es/FOTOVIDEOS/Voltereta_1.mp4" type="video/mp4" />
</video>
</div>

{% endblock %}
